// Set your colors
$ttgRed: #d2232a;
$ttgRed-invert: findColorInvert($ttgRed);

$ttgLightRed: #d09287;
$ttgLightRed-invert: findColorInvert($ttgLightRed);

// $crfBlue: #263052;
$ttgBlue: #2e4e5e;
$ttgBlue-invert: findColorInvert($ttgBlue);

$ttgLight: #fef8e0;
$ttgLight-invert: findColorInvert($ttgLight);

$ttgLighter: #fefaf2;
$ttgLighter-invert: findColorInvert($ttgLighter);

$ttgGray: #fefaf2;
$ttgGray-invert: findColorInvert($ttgGray);

$primary: $ttgRed;
$primary-invert: findColorInvert($primary);

// fonts
$family-heading: 'Lobster Two', cursive;
$family-body: 'Montserrat', sans-serif;

// mixins
@mixin breakpoint($point) {
  @if $point == fullhd {
    @media (min-width: 1408px) { @content ; }
 }
  @else if $point == widescreen {
    @media (min-width: 1216px) { @content ; }
 }
   @else if $point == desktop {
    @media (min-width: 1023px) { @content ; }
 }
  @else if $point == tablet {
    @media (min-width: 768px)  { @content ; }
 }
 @else if $point == mobileonly {
    @media (max-width: 768px)  { @content ; }

 }
}
